<div id="<%= dom_id skill %>">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= skill.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>

</div>
